@CHARSET "UTF-8";

*{
    margin: 0;
    padding: 0;
}


body {

  background-image: url(../img/wallpaper.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

}


@media only screen and (max-width: 1600px) {
  body {
    background-image: url(../img/wallpaper-1600.png);
    background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #464646;
  }
}





.style-box{
    
    position: relative;
    padding: 20px;
    margin-top: 10%;
    height: auto;
    box-shadow: 0 0 6px #333;
    background: #FFF;
}

.icon{
    
    width: 60px;
    height: auto;
}


.ini-title{
    
    font-size: 30px;    
}

.title{
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 25px;
}

.text{
    
    padding: 15px;
}

.text-required{
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #909090;
}

.text-title{
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 9px;
    font-weight: bold;
    color: red;
}

.center-text{
    
    margin-top: 30px;
    margin-bottom: 30px;
    
}


.button-accept{
    
    display: inline-block;
    padding-left: 15px;
    
}

.text-button{

    margin-right: 8px;
    
}

.footer{
    
    display: block;
    padding-top: 20px;
    padding-left: 15px;
}

.icon-ciandt{
    
    width: 50px;
    height: auto;
    margin-top: -5px;
}


.aling-text-footer{
    
    padding-left: 8px;
}

.text-footer{
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #909090;
}

.text-default{
	
   font-family: 'Roboto', sans-serif;
   font-weight: normal;
   font-size: 12px;	
}

.text-success{
	font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
	color: #319531;
}

.text-dined{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #c2302c;
}